/* The font family,color,size for the entire page */

* {
	font-family: 'Indie Flower', cursive;
	color: #e6ebef;
	font-size: 20px;
}


/*The code for bg-image of the page*/

.bg-image {
	background-image: url("http://mepopedia.com/~web103-c/final/final-1025445150/images/black-background-pattern-light-texture.jpg");
	background-repeat: repeat;
	background-attachment: fixed;
	background-position: center;
}

.logo-title {
	display: flex;
	width: 100%;
	margin-top: 0;
}

.logo {
	width: 25%;
}

.ninja {
	width: 100px;
	height: 100px;
	padding-top: 15px;
	padding-left: 0;
}

.font2 {
	font-family: 'Bellefair', serif;
}

.title {
	font-family: 'Bellefair', serif;
	text-align: right;
	width: 75%;
}

.sub-title {
	text-shadow: 3px 3px 3px #aaa;
}


/* The following code applies only for devices with width less that 801px*/

@media only screen and (max-width:800px) {
	.bg-black {
		background-image: url("http://wallpapercave.com/wp/c33pCUp.jpg");
		background-size: contain;
		height: 300px;
		width: 100%;
		background-repeat: no-repeat;
		background-position: center;
		position: relative;
		background-color: black;
	}
	.intro {
		height: 30px;
		box-sizing: border-box;
		padding-top: 100px;
	}
}


/* The following code applies only for devices with width less that 457px*/

@media only screen and (max-width:456px) {
	.projects {
		width: 300px;
	}
}


/* The following code applies only for devices with viewport width in the range of 457pxand 767px*/

@media only screen and (min-width:457px) and (max-width:767px) {
	.projects {
		width: 400px;
	}
}


/* The following code applies only for devices with viewport width in the range of 768pxand 992px*/

@media only screen and (min-width:768px) and (max-width:992px) {
	.projects {
		width: 300px;
	}
}


/* The following code applies only for devices with viewport width in the range of 993pxand 1200px*/

@media only screen and (min-width:993px) and (max-width:1200px) {
	.projects {
		width: 400px;
	}
}


/* The following code applies only for devices with viewportwidth bigger than 1201*/

@media only screen and (min-width:1201px) {
	.projects {
		width: 500px;
	}
}


/* The following code applies only for devices with viewport width greater than 800px*/

@media only screen and (min-width:801px) {
	.bg-black {
		background-image: url("http://wallpapercave.com/wp/c33pCUp.jpg");
		background-size: contain;
		height: 500px;
		width: 100%;
		background-repeat: no-repeat;
		background-position: center;
		position: relative;
		background-color: black;
	}
	.intro {
		height: 30px;
		box-sizing: border-box;
		padding-top: 300px;
	}
}

.projects {
	border: 1px solid;
	border-radius: 20px;
	box-shadow: 2px 2px 1px 1px Silver;
}

.link2project:link {
	color: silver;
	text-decoration: none;
	font-size: 19px;
	text-decoration: none;
}

.link2project:visited {
	color: silver;
	text-decoration: none;
	font-size: 19px;
}

@media only screen and (max-width:459px) {
	.contacts {
		list-style-type: none;
		text-align: left;
	}
}

@media only screen and (min-width:460px) {
	.contacts {
		list-style-type: none;
		text-align: center;
	}
}

.link2project:hover {
	text-decoration: none;
	font-size: 20px;
	color: silver;
	background-color: #111;
}

.footer-row {
	width: 100%;
	text-align: center;
}

.other_headings {
	border: solid 1px white;
	border-style: groove;
	border-radius: 5px;
	box-sizing: border-box;
	background-color: Black;
}


/*the css for the navigation bar starts here*/

.nav-bar {
	border: 0.5px solid;
	border-radius: 5px;
	border-color: silver;
}

.navigation {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.nav-items {
	float: left;
	border-right: 0.5px solid silver;
}

.nav-items .nav-links {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	text-align: center;
	font-family: 'Gloria Hallelujah', cursive;
}

.nav-items .nav-links:hover:not(.active) {
	background-color: #111;
	font-family: 'Gloria Hallelujah', cursive;
}


/*The code for navigation bar ends here*/

.google {
	background-color: #d73d32;
}

.twitter {
	background-color: #00c3f3;
}

.fb {
	background-color: #2d5f9a;
}

@media only screen and (max-width:550px) {
	.nav-items {
		display: inline;
		padding-right: 3px;
	}
	.nav-items:last-child {
		border-right: 0;
	}
}

.social:link {
	color: white;
	text-decoration: none;
}

.social:hover {
	color: white;
	text-decoration: none;
	font-size: 23px;
}

.social:visited {
	color: white;
	text-decoration: none;
}

.skill-show {
	border: 1px solid white;
	font-family: 'Gloria Hallelujah', cursive;
	background-color: #111;
	box-shadow: 2px 2px 2px 2px silver;
	margin: 0 auto 0 auto;
}

.skills {
	border: 1px solid black;
	font-family: 'Gloria Hallelujah', serif;
	color: #111;
	background-color: silver;
	text-align: center;
}

.level: {
	border: 1px solid white;
}

.ninja-star {
	width: 100px;
}

.heading {
	background-color: black;
	font-family: 'Gloria Hallelujah', serif;
	text-align: center;
	border: 1px solid silver;
}

@media only screen and (max-width:696px) {
	.ninja-star {
		width: 80px;
	}
}

@media only screen and (max-width:595px) {
	.ninja-star {
		width: 70px;
	}
}

@media only screen and (max-width:546px) {
	.ninja-star {
		width: 50px;
	}
}

@media only screen and (max-width:446px) {
	.ninja-star {
		width: 30px;
	}
}
